<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="UseBrowser" value="2" />
        <add key="ProjectUrl" value="https://routemewebsite-staging.azurewebsites.net/" />
        <add key="BrowserName" value="Firefox" />
        <add key="View" value="landscape" />
        <add key="CloseBrowser" value="1" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>  
    
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.12051" newVersion="2.6.0.12051" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration --><!-- Possible values include NUnit (default), MsTest, xUnit --><unitTestProvider name="NUnit" /><!-- Other SpecFlow Configuration options. For additional details on the options specified here, 
      see http://cloud.github.com/downloads/techtalk/SpecFlow/SpecFlow%20Guide.pdf
    <language feature="en-US" tool="" />
    
    <generator allowDebugGeneratedFiles="false" />
    
    <runtime detectAmbiguousMatches="true"
      stopAtFirstError="false"
      missingOrPendingStepsOutcome="Inconclusive" />
    
    <trace traceSuccessfulSteps="true"
      traceTimings="false"
      minTracedDuration="0:0:0.1"
      listener="TechTalk.SpecFlow.Tracing.DefaultListener,TechTalk.SpecFlow" />
    --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow></configuration>